<header id="header">
  <div class="wrap">
    <div class="menu-hambeger">
      <div class="button">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="text">menu</span>
    </div>
    <a href="./" class="logo">
      <img src="/img/logo.svg" alt="" />
      <h1>Spacedev</h1>
    </a>
    <div class="right">
      <div class="have-login">
        <div class="account">
          <a href="./profile.html" class="info">
            <div class="name">Đặng Thuyền Vương</div>
            <div class="avatar">
              <img src="/img/avt.png" alt="" />
            </div>
          </a>
        </div>
        <div class="hamberger"></div>
        <div class="sub">
          <a href="#">Khóa học của tôi</a>
          <a href="#">Thông tin tài khoản</a>
          <a href="#">Đăng xuất</a>
        </div>
      </div>
      <!-- <div class="not-login bg-none">
                      <a href="#" class="btn-register">Đăng nhập</a>
                      <a href="login.html" class="btn main btn-open-login">Đăng ký</a>
                  </div> -->
    </div>
  </div>
  <div class="progress"></div>
</header>
<nav class="nav">
  <ul>
    <li>
      <a href="./signin.html">Đăng ký / Đăng nhập</a>
    </li>
    <li>
      <a href="./profile.html" class="account">
        <div class="avatar">
          <img src="/img/avt.png" alt="" />
        </div>
        <div class="name">Đặng Thuyền Vương</div>
      </a>
    </li>
    <li>
      <a class="active" href="./">Trang chủ</a>
    </li>
    <li>
      <a href="./team.html">Spacedev Team</a>
    </li>
    <li>
      <a href="./course-list.html">Khóa Học</a>
    </li>
    <li>
      <a href="./project.html">Dự Án</a>
    </li>
    <li>
      <a href="./contact.html">Liên hệ</a>
    </li>
  </ul>
</nav>
<div class="overlay_nav"></div>
