<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Grunt</title>
    <link
      rel="icon"
      href="https://www.vivosmartphone.vn/themes/vivo/favicon.ico"
    />
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta property="og:locale" content="vi" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Trang chủ" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" href="/dest/tailwind.css" />
    <link rel="stylesheet" href="/dest/style.min.css" />
    <link rel="stylesheet" href="/dest/fonts.css" />
  </head>

  <body>
    {{> header}}
    <main id="main">{{{body}}}</main>
    {{> footer}}
    <!-- popup video homepage -->
    <div class="popup-video" id="popup-video" style="display: none">
      <div class="wrap">
        <div class="video-src"></div>
      </div>
      <div class="close"></div>
    </div>
    <div class="popup-form popup-login" style="display: none">
      <div class="wrap">
        <!-- login-form -->
        <div class="ct_login" style="display: block">
          <h2 class="title">Đăng nhập</h2>
          <input type="text" placeholder="Email / Số điện thoại" />
          <input type="password" placeholder="Mật khẩu" />
          <div class="remember">
            <label class="btn-remember">
              <div>
                <input type="checkbox" />
              </div>
              <p>Nhớ mật khẩu</p>
            </label>
            <a href="#" class="forget">Quên mật khẩu?</a>
          </div>
          <div class="btn rect main btn-login">đăng nhập</div>
          <div class="text-register" style="">
            <strong>hoặc đăng ký bằng</strong>
          </div>
          <div>
            <div class="btn btn-icon rect white btn-google">
              <img src="img/google.svg" alt="" />
              Google
            </div>
          </div>
          <div class="close">
            <img src="img/close-icon.png" alt="" />
          </div>
        </div>
        <!-- email form -->
        <div class="ct_email">
          <h2 class="title">Đặt lại mật khẩu</h2>
          <input type="text" placeholder="Email" />
          <div class="btn rect main btn-next">Tiếp theo</div>
          <div class="back"></div>
          <div class="close">
            <img src="img/close-icon.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="popup-form popup-login" style="display: none">
      <div class="wrap">
        <h2 class="title">Đăng ký</h2>
        <div class="btn btn-icon rect white btn-google">
          <img src="img/google.svg" alt="" />
          Google
        </div>
        <p class="policy">
          Bằng việc đăng kí, bạn đã đồng ý
          <a href="#">Điều khoản bảo mật</a> của Spacedev
        </p>
        <div class="close">
          <img src="img/close-icon.png" alt="" />
        </div>
      </div>
    </div>
    <script src="dest/jsmain.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
